.header-container {
  display: flex;
  background-color: rgb(212, 147, 147);
  padding: 1rem;
  margin: auto;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10%;
}

.nav-container { 
  display: flex;
  margin-left: auto;
  gap: 2rem;
  margin-right: 5%;
  font-size: 20px;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
}

.count{
background-color: rgb(247, 54, 54);
color: white;
padding: 0px 8px;
border-radius: 50%;
margin-bottom: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 15px;
}
